* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gameMain {
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 15px gray;
  text-align: center;
  background: linear-gradient(90deg, #e5ffe9, #fffbd1, #b7bcff, #ffa3a3a7);
  background-size: 200% 200%;
  animation: gradient_card 10s ease infinite;
}

@keyframes gradient_card {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gameButton {
  background-image: linear-gradient(to right, #e5ffe9 0%, #d9e7ff  51%, #e5ffe9  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000000;
  box-shadow: 0 0 20px #7a7a7a;
  border-radius: 10px;
  display: inline-block;
}

.gameButton:hover {
  background-position: right center; 
  color: #9e9e9e;
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  top: 0; 
}

.header-container {
  height: 64px; 
  margin: 0 auto;         
  padding: 0 24px;
  display: flex;
  align-items: center;   
  justify-content: space-between; 
}

.logo {
  font-size: 20px;
}

.nav-list {
  display: flex;         
  gap: 20px;
  list-style: none;   
  padding: 0;
  margin: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav a:hover {
  text-decoration: underline;
}

.gameList {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer {
  width: 100%;
  background-color: #2c2c2c;
  color: white;
}

.footer-container {
  height: 64px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  font-size: 24px;
}

.footer-contact {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}